body{
	background-color: green;
}
#div1{
	color: wheat;
	background-color: black;
	height: 100px;
}
#phone{
	margin: 10px;
	padding: 10px;
	display: inline-block;
	background-color: red;
	border-radius: 20px;
}
main{
     
    background-color: gray;
    background-image: url(img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
    
}
.container{
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
/*	gap: 1em;*/
	

}
.box{
	color: wheat;
    overflow: hidden;
    padding-top: 5%;
	width: 20%;
	height: 30%;
	font-size: 1em;
	border-radius: 15px;
	box-shadow: 0px 2px 2px;

}
.blackdiv{
	background-color: black;
	width:100%;
    height:100%;
}
#box1{
	background-color: rebeccapurple;
}
#box2{
	background-color: green;
}
#box3{
	background-color: red;
}
#box4{
	background-color: brown;
}
#div22{
	color: wheat;
	padding: 25%;
	width: 50%;
}
span{
	display: block;
	height: 40%;
	justify-content: center;
	align-items: center;
}
.label {
	display: inline-block;
	border-radius: 15px;
	padding: 5%;
/*	margin-top: 40%;*/

}

