<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styl.css">
    <title>MBOZWA</title>
</head>

<body>
    <div class="outer">
        <header>
            <button onclick="REC()">REC</button>
            <button onclick="PLAY()">PLAY</button>
            <button onclick="STOP()">STOP</button>
            <button onclick="CLEAR()">CLEAR</button>
        </header>
        <main id="Body_"></main>
        <footer id="footer">
            <canvas id="canvas"></canvas>
        </footer>
    </div>
</body>
<script src="reload/reload.js"></script>
<script src="Allkeys.js"></script>
<script src="keyinput.js"></script>
<script src="midi.js"></script>
<!-- <script src="sound/sound.js"></script> -->
<script src="sound/sound2.js"></script>
<script src="classCanvas.js"></script>

</html>